body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo img {
  width: 250px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -20px;
}

header .user-info {
  display: flex;
  align-items: center;
}

header .user-info span {
  margin-right: 20px;
}

header .user-info button {
  background-color: #dc3545;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

header .user-info button:hover {
  background-color: #c82333;
}

.container {
  display: flex;
  padding-top: 70px;
}

.sidebar {
  width: 220px;
  background-color: #343a40;
  padding: 20px;
  height: calc(100vh - 70px);
  position: fixed;
  color: white;
  top: 70px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a:hover {
  background-color: #495057;
}

.main-content {
  margin-left: 240px;
  padding: 20px;
  width: calc(100% - 240px);
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  padding-right: 65px;
  padding-left: 65px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.card p {
  font-size: 40px;
  margin-top: 2px;
  color: #007bff;
}

button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

input[type=text], input[type=email], input[type=password], input[type=number], select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=file] {
  margin: 10px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.hidden {
  display: none;
}

.alert {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.chart-container {
  position: relative;
  height: 350px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  margin-left: 30px;
  margin-right: 30px;
}
.chart-container h3 {
  margin-left: 50px;
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.action-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.2);
}

td {
  vertical-align: middle;
}/*# sourceMappingURL=dashboard.css.map */