/* General Styles */
html, body {
  overflow-x: hidden;
}

#bannerPromocional {
  transition: opacity 0.4s ease-in-out;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

#promo-banner {
  position: relative;
  width: 100%;
  height: 35px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.marquee {
  display: flex;
  gap: 80px;
  min-width: 100%;
  margin-left: 80px;
}

.marquee span {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

/* Banner */
#bannerPromocional {
  width: 100%;
  height: auto;
  display: block;
}

/* Marcas Inicio */
.marcasInicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
}
.marcasInicio .marcaInicio {
  text-align: center;
  margin: 10px;
  flex: 1 1 18%;
  max-width: 18%;
  transition: transform 0.3s ease;
}
.marcasInicio .marcaInicio .img-container {
  width: 75%;
  height: 130px;
  background-color: #D9D9D9;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.marcasInicio .marcaInicio .img-container img {
  width: 120%; /* Hace que la imagen sobresalga del fondo */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20%;
  position: relative;
  z-index: 1;
}
.marcasInicio .marcaInicio p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.marcasInicio .marcaInicio:hover {
  transform: scale(1.1);
}
.marcasInicio a button {
  width: 300px;
  height: 40px;
  background-color: #594C45;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
}
.marcasInicio a button:hover {
  background-color: #BAADA6;
  border: none;
}

/* Popup Background */
.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

/* Popup */
.popup {
  display: flex;
  width: 60%;
  max-width: 900px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

/* Left Part */
.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex: 2;
  text-align: center;
  background-color: #BAADA6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.left .logo-small {
  width: 60%;
  margin-bottom: 20px;
}

.left .logo-large {
  width: 90%;
  transform: scaleX(-1);
}

/* Right Part */
.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  flex: 1;
  text-align: center;
  padding-left: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.right .logo-form {
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.right h2 {
  margin-bottom: 20px;
}

.right form input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right form button {
  width: 80%;
  padding: 10px;
  background-color: #BAADA6;
  color: black;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.right form button:hover {
  background-color: #BAADA6;
}

.alert {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}

.toggle-buttons button.active {
  background-color: #BAADA6;
  color: white;
}

/* Hidden Form */
.hidden {
  display: none;
}

.featured-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px;
}
.featured-container .featured-wrapper {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
}
.featured-container .featured-card {
  flex: 0 0 20%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.featured-container .featured-card:hover {
  transform: scale(1.05);
}
.featured-container .featured-card img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.featured-container .featured-card h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: #333;
}/*# sourceMappingURL=login.css.map */