@charset "UTF-8";
/* General Styles */
html, body {
  overflow-x: hidden;
}

#bannerPromocional {
  transition: opacity 0.4s ease-in-out;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

#promo-banner {
  position: relative;
  width: 100%;
  height: 35px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.marquee {
  display: flex;
  gap: 80px;
  min-width: 100%;
  margin-left: 80px;
}

.marquee span {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

/* Banner */
#bannerPromocional {
  width: 100%;
  height: auto;
  display: block;
}

/* Marcas Inicio */
.marcasInicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
}
.marcasInicio .marcaInicio {
  text-align: center;
  margin: 10px;
  flex: 1 1 18%;
  max-width: 18%;
  transition: transform 0.3s ease;
}
.marcasInicio .marcaInicio .img-container {
  width: 75%;
  height: 130px;
  background-color: #D9D9D9;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.marcasInicio .marcaInicio .img-container img {
  width: 120%; /* Hace que la imagen sobresalga del fondo */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20%;
  position: relative;
  z-index: 1;
}
.marcasInicio .marcaInicio p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.marcasInicio .marcaInicio:hover {
  transform: scale(1.1);
}
.marcasInicio a button {
  width: 300px;
  height: 40px;
  background-color: #594C45;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
}
.marcasInicio a button:hover {
  background-color: #BAADA6;
  border: none;
}

/* Popup Background */
.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup */
.popup {
  display: flex;
  width: 60%;
  max-width: 900px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

/* Left Part */
.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex: 2;
  text-align: center;
  background-color: #BAADA6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.left .logo-small {
  width: 60%;
  margin-bottom: 20px;
}

.left .logo-large {
  width: 90%;
  transform: scaleX(-1);
}

/* Right Part */
.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  flex: 1;
  text-align: center;
  padding-left: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.right .logo-form {
  width: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.right h2 {
  margin-bottom: 20px;
}

.right form input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right form button {
  width: 80%;
  padding: 10px;
  background-color: #BAADA6;
  color: black;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.right form button:hover {
  background-color: #BAADA6;
}

.alert {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}

.toggle-buttons button.active {
  background-color: #BAADA6;
  color: white;
}

/* Hidden Form */
.hidden {
  display: none;
}

.featured-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px;
}
.featured-container .featured-wrapper {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease-in-out;
}
.featured-container .featured-card {
  flex: 0 0 20%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.featured-container .featured-card:hover {
  transform: scale(1.05);
}
.featured-container .featured-card img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.featured-container .featured-card h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  color: #333;
}

* {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}

.container {
  width: 85%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.container .sneaker-card {
  background: linear-gradient(45deg, #594C45, #BAADA6, #bbbbbb, #BAADA6);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin: 15px;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
  /* Efecto brillante en el borde */
}
.container .sneaker-card .image-container {
  width: 100%;
  height: 200px;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.container .sneaker-card .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}
.container .sneaker-card .image-container .hover-image {
  opacity: 0;
}
.container .sneaker-card:hover .hover-image {
  opacity: 1;
}
.container .sneaker-card:hover .default-image {
  opacity: 0;
}
.container .sneaker-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
  height: 40px;
}
.container .sneaker-card .price {
  font-size: 1rem;
  color: #000000;
  text-align: left;
  margin-left: 20px;
}
.container .sneaker-card .price .original-price {
  text-decoration: line-through;
  color: #ff0000;
  margin-right: 10px;
}
.container .sneaker-card .price .sale-price {
  font-size: larger;
  color: #000000;
  font-weight: bold;
}
.container .sneaker-card button {
  background-color: #594C45;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
  margin-top: 20px;
}
.container .sneaker-card button:hover {
  background-color: #D9D9D9;
  color: black;
  transform: scale(1.1);
}
.container .sneaker-card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #594C45, #BAADA6, #bbbbbb, #BAADA6);
  z-index: -1;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.container .sneaker-card:hover::before {
  opacity: 1;
}
.container .sneaker-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.555);
}

.product-container {
  display: flex;
  width: 70%; /* Ajusta el ancho según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un poco de padding */
}

.left-column {
  width: 30%;
  padding: 20px;
}

.image-slider {
  position: relative;
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  display: none;
}

.product-image:first-child {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: #D9D9D9;
  font-weight: bold;
  font-size: 18px; /* Tamaño de fuente más pequeño */
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none; /* Sin recuadro */
  border: none; /* Sin borde */
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: #ccc; /* Color más claro al pasar el ratón */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo menos opaco */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  transition: transform 0.3s ease-in-out; /* Transición para el zoom */
}

.modal .prev, .modal .next {
  top: 50%;
  font-size: 24px; /* Tamaño de fuente más pequeño */
  color: black;
  background: none; /* Sin recuadro */
  border: none; /* Sin borde */
}

.modal .prev:hover, .modal .next:hover {
  color: #ccc; /* Color más claro al pasar el ratón */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.right-column {
  width: 70%;
  padding: 20px;
}

.price {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.price .original-price {
  text-decoration: line-through;
  color: #f16868;
  margin-right: 10px;
}
.price .sale-price {
  color: #000000;
  font-weight: bold;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.size {
  width: calc(16.85% - 10px); /* Ajusta el ancho para que quepan 6 en una fila */
  height: 50px;
  background-color: #D9D9D9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.size.selected {
  background-color: black;
  color: white;
}

.selected-size {
  margin-bottom: 20px;
}

.delivery-time {
  background-color: #BAADA6;
  color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1; /* Hace que cada botón ocupe la mitad del contenedor */
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

#add-to-cart {
  background-color: #594C45; /* Marrón */
}

#buy-now {
  background-color: black;
}

#selected-size {
  font-weight: bold;
}

.quantity-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3px;
  /* Eliminar flechas en WebKit (Chrome, Safari, Edge) */
  /* Eliminar flechas en Firefox */
}
.quantity-container button {
  background: #594C45;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}
.quantity-container button:hover {
  background: #BAADA6;
  color: black;
}
.quantity-container #decrease {
  margin-right: 5px; /* Separación visual del input */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.quantity-container #increase {
  margin-left: 5px; /* Separación visual del input */
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.quantity-container input {
  width: 50px;
  text-align: center;
  border: none;
  background: #594C45;
  color: white;
  font-size: 16px;
  padding: 8px 0;
  -moz-appearance: textfield; /* Firefox */
}
.quantity-container input::-webkit-outer-spin-button,
.quantity-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-container input[type=number] {
  -moz-appearance: textfield;
}

#header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  padding: 10px 20px;
  z-index: 10;
}
.nav .foto img {
  width: 250px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -20px;
}
.nav .buscador {
  flex-grow: 1;
  margin: 0 20px;
  text-align: center;
}
.nav .buscador p {
  display: inline-block;
}
.nav .buscador p a {
  color: red;
}
.nav .buscador input {
  width: 40%;
  padding: 8px;
  border: #bebebe 1px solid;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.nav .usuario {
  display: flex;
  align-items: center;
}
.nav .usuario img {
  width: 60px;
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}
.nav .usuario button {
  background-color: #594C45;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}
.nav .usuario button:hover {
  background-color: #baada6;
  color: black;
  transform: scale(1.1);
}

.search-popup {
  position: fixed;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  max-height: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
}

.search-popup .search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-popup .search-results li {
  display: flex;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
}

.search-popup .search-results li img {
  width: 120px;
  height: 95px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
  border-radius: 5px;
}

.search-popup .search-results li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-popup .search-results li a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* Estilos específicos para el pop-up del carrito */
.cart-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 96%; /* Asegurarse de que ocupe el 100% de la altura */
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart-items-container {
  flex-grow: 1;
  overflow-y: auto; /* Permitir el desplazamiento si hay muchos elementos */
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}

.cart-item-info {
  margin: 5px 0 0;
  font-size: 0.9em;
  color: #666;
}

.cart-item button {
  background-color: #baada6;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #594C45;
}

#checkoutButton {
  background-color: #baada6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#checkoutButton:hover {
  background-color: #594C45;
}

body {
  padding-top: 110px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
footer .texto {
  width: 30%;
  text-align: center;
}
footer .imagen {
  text-align: center;
  width: 30%;
}
footer .imagen img {
  width: 100px;
  height: 100px;
}/*# sourceMappingURL=main.css.map */