@charset "UTF-8";
.product-container {
  display: flex;
  width: 70%; /* Ajusta el ancho según sea necesario */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un poco de padding */
}

.left-column {
  width: 30%;
  padding: 20px;
}

.image-slider {
  position: relative;
  width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  display: none;
}

.product-image:first-child {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: #D9D9D9;
  font-weight: bold;
  font-size: 18px; /* Tamaño de fuente más pequeño */
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none; /* Sin recuadro */
  border: none; /* Sin borde */
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: #ccc; /* Color más claro al pasar el ratón */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9); /* Fondo menos opaco */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  transition: transform 0.3s ease-in-out; /* Transición para el zoom */
}

.modal .prev, .modal .next {
  top: 50%;
  font-size: 24px; /* Tamaño de fuente más pequeño */
  color: black;
  background: none; /* Sin recuadro */
  border: none; /* Sin borde */
}

.modal .prev:hover, .modal .next:hover {
  color: #ccc; /* Color más claro al pasar el ratón */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.right-column {
  width: 70%;
  padding: 20px;
}

.price {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.price .original-price {
  text-decoration: line-through;
  color: #f16868;
  margin-right: 10px;
}
.price .sale-price {
  color: #000000;
  font-weight: bold;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.size {
  width: calc(16.85% - 10px); /* Ajusta el ancho para que quepan 6 en una fila */
  height: 50px;
  background-color: #D9D9D9;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.size.selected {
  background-color: black;
  color: white;
}

.selected-size {
  margin-bottom: 20px;
}

.delivery-time {
  background-color: #BAADA6;
  color: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1; /* Hace que cada botón ocupe la mitad del contenedor */
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border: none;
  color: white;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

#add-to-cart {
  background-color: #594C45; /* Marrón */
}

#buy-now {
  background-color: black;
}

#selected-size {
  font-weight: bold;
}

.quantity-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3px;
  /* Eliminar flechas en WebKit (Chrome, Safari, Edge) */
  /* Eliminar flechas en Firefox */
}
.quantity-container button {
  background: #594C45;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}
.quantity-container button:hover {
  background: #BAADA6;
  color: black;
}
.quantity-container #decrease {
  margin-right: 5px; /* Separación visual del input */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.quantity-container #increase {
  margin-left: 5px; /* Separación visual del input */
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.quantity-container input {
  width: 50px;
  text-align: center;
  border: none;
  background: #594C45;
  color: white;
  font-size: 16px;
  padding: 8px 0;
  -moz-appearance: textfield; /* Firefox */
}
.quantity-container input::-webkit-outer-spin-button,
.quantity-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-container input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=product.css.map */