.profile-container {
    max-width: 750px;
    margin: 40px auto;
    padding: 0 15px;

    h2 {
        margin-bottom: 30px;
        text-align: center;
        color: #333;
        font-size: 28px;
    }
}

.profile-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
            font-weight: 500;
            margin-left: 70px;
        }

        input {
            display: block; /* Asegura que los inputs sean elementos de bloque */
            width: 80%; /* Ajusta la longitud de los inputs */
            margin: 0 auto; /* Centra los inputs horizontalmente */
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
        
            &:focus {
                border-color: #594C45;
                outline: none;
            }
        }
    }

    .form-row {
        display: flex;
        gap: 15px;

        .half {
            flex: 1;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 5px;
        }
    }

    button {
        display: block;
        width: 80%;
        padding: 12px;
        background-color: #594C45;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 15px;
        margin: 0 auto;

        &:hover {
            background-color: #4a3d37;
        }
    }
}